.user {
    background: linear-gradient(90deg, rgb(113, 164, 209), rgb(29, 93, 150), rgb(5, 38, 67));
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 20px;
}

.user p {
    font-size: 20px;
}

.log a {
    font-size: 20px;
    text-decoration: none;
    box-shadow: 3px 3px rgba(0, 0, 0, .5);
}

.texto-buscar {
    align-items: center;
}

.buscar {
    display: flex;
    align-items: center;
}

.btn {
    box-shadow: 3px 3px rgba(0, 0, 0, .5);
}

.s1 {
    align-items: center;
    justify-content: center;
}

.lista-title {
    text-align: center;
}

.table {
    text-align: center;
}

.opciones a {
    margin: 0px 10px;
}