@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
body {
    background-image: url(./img/b8f6533d348ce2a58683c03f0e947ea4.jpg);
    background-repeat: repeat;
}

.encabezado {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px rgba(110, 110, 110, 0.808);
    background-image: url(./img/fondop.png);
    background-size: cover;
}

.encabezado img {
    height: 90px;
}

.encabezado h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 50px;
    padding: 0px;
    margin: 0px 0px;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, .6);
}

.encabezado h1:hover {
    scale: 1.1;
}

.encabezado ul {
    height: 100px;
    max-height: 100px;
    margin: 10px 0px;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.encabezado ul li {
    margin: 0px 0px;
    padding: 0;
    align-items: center;
    justify-content: space-around;
}

.encabezado ul li a {
    padding: 0;
    margin: 0px 0px;
    display: flex;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    justify-content: space-around;
}

.encabezado ul li a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    line-height: 1.5;
    padding-bottom: 0px;
}

.encabezado input[type="button"] {
    margin: 20px 0px;
}

.s1 {
    justify-content: space-between;
    align-items: center;
}

.buscar form .input-buscar {
    width: 500px;
    box-shadow: 1px 3px rgba(0, 0, 0, .6);
}

.buscar form input {
    border: none;
    border-radius: 5px;
}

.buscar form input:focus {
    outline: none;
}

.buscar form .input-buscar::placeholder {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.iconos-balon a {
    width: 5rem;
    margin: 5px;
}

.iconos-balon .i-1 {
    color: rgb(204, 204, 204);
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.opciones .btn-eliminar {
    color: rgb(229, 18, 18);
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.opciones .btn-editar {
    color: rgb(117, 227, 33);
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.btn-salir a {
    color: #000;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.lista-title h1 {
    font-size: 50px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-style: italic;
    color: #000;
    text-align: center;
    /* -webkit-text-stroke: .5px rgb(188, 188, 188); */
    /* white-space: nowrap; */
}

.table {
    text-align: center;
    padding: 0;
}