body {
    background-image: url(./img/fondop.png);
    background-size: cover;
}

.crea-torneo {
    background-color: rgba(255, 255, 255, 0.445);
    display: grid;
    grid-template-columns: auto;
    width: 30%;
    margin: 40px auto;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, .5);
}

.crea-torneo form {
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.crea-torneo p {
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.crea-torneo p a {
    color: rgb(32, 39, 225);
}

.crea-torneo form input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 4px;
    outline: none;
    align-items: center;
    margin: 5px auto;
}

.form-control {
    width: 100%;
    margin: 30px auto;
    align-items: center;
    background-color: transparent;
    border: none;
}

.form-control input {
    align-items: center;
    margin: auto;
}

.ingresar {
    margin: auto;
}

.crea-torneo form label {
    margin: 5px auto;
    width: 60%;
}

.encabezado {
    align-items: center;
    box-shadow: 0px 1px rgba(255, 255, 255, 0.808);
}

.encabezado img {
    height: 90px;
}

.encabezado h1 {
    width: 10%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 50px;
    padding: 20px;
    margin: 0px 20px;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, .6);
}

.encabezado ul {
    height: 100px;
    max-height: 100px;
    width: 100%;
    margin: 10px 0px;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.encabezado ul li {
    margin: 20px 0px;
    align-items: center;
    justify-content: space-around;
}

.encabezado ul li a {
    margin: 0px 20px;
    display: flex;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.encabezado ul li a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    line-height: 2.5;
    padding-bottom: 0px;
}

.encabezado input[type="button"] {
    margin: 20px 0px;
}